[Unit]
Description=Book Shop Service

[Service]
User=jenkins
WorkingDirectory=/home/jenkins/.jenkins/workspace/book_shop
Environment=DATABASE_URI=sqlite:///data.db
Environment=SECRET_KEY=SECRET_KEY
ExecStart=/bin/sh \
    -c 'python3 -m venv venv &&\
    . ./venv/bin/activate &&\
    pip3 install -r requirements.txt &&\
    python3 create.py &&\
    python3 app.py'

[Install]
WantedBy=multi-user.target
